<div xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{css/fonts.googleapis.com.css}"/>
    <link rel="stylesheet" th:href="@{css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style"/>
    <link rel="stylesheet" th:href="@{css/ace-part2.min.css}" class="ace-main-stylesheet" />
    <link rel="stylesheet" th:href="@{css/ace-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{css/ace-ie.min.css}" />
    <script th:src="@{js/ace-extra.min.js}"></script>
    <script th:src="@{js/html5shiv.min.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>

</div>
