<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <title>User</title>
</head>
<body>


<div layout:fragment="main">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>đây là trang admin</h1>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
