<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
</head>
<body>
<h2>Demo Spring Boot Upload File</h2>
<div>
    file: <input type="file" id="uploadImage"/> <br/>
    <a href="#">Upload</a>
</div>
<!--<div th:with="urlAPi='/api/user/upload'">-->
<!--    <a th:href="${urlAPi}"></a>-->

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script>


    $(document).ready(function () {

    })
    $('#uploadImage').change(function () {
        var file = $(this)[0].files[0];
        var dataArray = {};

        if (file != undefined) {
            var reader = new FileReader();
            reader.onload = function (e) {
                dataArray['base64'] = e.target.result; // lay base64
                dataArray['name'] = file.name; // lay name
                console.log(dataArray['base64'])
                console.log(dataArray['name'])
            }
            reader.readAsDataURL(file);
        }
    })

    function upload(data) {
        $.ajax({
            url: '/api/user/upload',
            contentType: "application/json",
            type: 'POST',
            data: JSON.parse(data),
            success: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        })
    }


</script>
</body>
</html>
