<div xmlns:th="http://www.thymeleaf.org">

<!--    <script th:src="@{js/html5shiv.min.js}"></script>-->
<!--    <script th:src="@{js/respond.min.js}"></script>-->

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{../../../static/admin/font-awesome/4.5.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{css/fonts.googleapis.com.css}" />
    <link rel="stylesheet" th:href="@{css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" th:href="@{css/ace-skins.min.css}" />
    <link rel="stylesheet" th:href="@{css/ace-rtl.min.css}" />
    <script src="js/ace-extra.min.js"></script>
</div>
